<hr>

<footer>
    <section>
        <h5>About</h5>
        <a href='/about'>About OpenSprites</a>
        <br>
        <a href='mailto:contactATopenspritesDOTorg' onclick="this.href=this.href.replace(/AT/,'@') .replace(/DOT/,'.')">Contact Us</a>
    </section>

    <section>
        <h5>Meta</h5>
        <a href='/stats'>Statistics</a>
    </section>

    <section>
        <h5>Legal</h5>
        <a href='/tos'>Terms of Service</a>
        <br>
        <a href='/dmca'>DMCA Reports &amp; Copyright</a>
        <br>
        <a href='/privacy'>Privacy Policy</a>
    </section>

    <section class='large'>
        <a href='https://github.com/OpenSprites'>
            <img src='/assets/img/github.png' height='70' id='on-gh'>
            <span>GitHub</span>
        </a>

        <br>

        <a href='https://is.gd/os_bugz'>
            <div height='70' id='gh-issues' class='icon'>bug_report</div>
            <span>Bug Reports</span>
        </a>
    </section>

    <section class='large'>
        <a href='https://is.gd/os_feat'>
            <div height='70' id='gh-feat' class='icon'>create_new_folder</div>
            <span>Feature Requests</span>
        </a>

        <br>

        <a href='https://is.gd/os_help'>
            <div height='70' id='gh-help' class='icon'>help</div>
            <span>Help &amp; Questions</span>
        </a>
    </section>

    <span>
        <small> OpenSprites is not endorsed by or affiliated with the <a href='https://scratch.mit.edu/'>Scratch Team</a>. </small> <br> <br>

        Made with <span class='love'>&hearts;</span> by the <a href='/team'> OpenSprites Team </a>.
    </span>
</footer>